.body-details-card {
  border-radius: 15px;
}

.body-details-container {
  /* background: rgba(7, 0, 0, 0.904); */
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.body-details-card {
  /* border: 3px solid pink; */
  width: 30%;
}

.body-details-card-img {
  width: 100%;
  height: 90%;
}

.body-details-card-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 0.5s;
}

.body-details-card-img img:hover {
  box-shadow: 0 5px 10px rgba(126, 125, 125, 0.8);
  transform: translateY(-10px);
}
.body-description {
  font-size: 24px;
  background: rgba(194, 185, 185, 0.822);
  color: black;
  height: 20%;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10%;
}
